.a4-root {
  width: 100%;
  min-height: 1123px;
  padding: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  box-sizing: border-box;
  position: relative;
  /* overflow-y: hidden; */
}

.a4-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}

.a4-root * {
    letter-spacing: .3em;
}
.a4-header h1 {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase;
}
.a4-header .doctor-details-header{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.clinic {
  font-weight: bold;
  font-size: 16px;
}

.desc {
  font-size: 12px;
  margin-top: 4px;
}

.meta {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 6px;

}

.patient-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  font-size: 13px;
  margin-top: 10px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-bttom: 16px;
  height: 50px;
}

.body-section{
  position: relative;
  padding-left: 15px;
}

.left-side-border{
  border: 1px solid #444  ;
  position: absolute;
  top: 10px;
  botton:0;
  left: 0;
  height: 100vh;
}
.rx {
  margin-bottom: 20px;
  font-size: 18px;  
}

.rx-table {
  width: 100%;
  font-size: 12px;
}

.rx-table table{
    min-height: 600px;
    background: skyblue;
}
.rx-table thead{
    background-color: #eee;
}

.rx-table th,
.rx-table td {
  border: 1px solid #eee;
  padding-bottom: 24px;
}


.a4-footer {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  font-size: 11px;
}

.signature {
  position: absolute;
  bottom: -10px;
  rigth: 20px;
  z-index: -1;

}

.doctor-sign {
  font-weight: bold;
  width: auto;
  display: flex;
  position: relative;
  justify-content: end;
  margin-bottom: 24px;
}

.doctor-sign p{
  border-top: 1px solid #000;
}

.address {
    border-top: 1px solid #000;
    margin-top: 8px;
    letter-spacing: 3px;
}

.copyright {
  margin-top: 6px;
  font-size: 10px;
}
